@{
    ViewData["Title"] = "About";
}

<h4>About</h4>

<p>This is my "To Do List".</p>

<ul class="list-unstyled">
    <li>The Simple web appplication, based on .net core mvc</li>
    <li>Working on this project I've got the follow experience with:</li>
</ul>

<ul class="list-unstyled">
    <li>Writing code using C# programming language</li>
    <li>Understanding Principles of MVC</li>
    <li>Working with MS SQL Server (Entity Framework, CRUD operations)</li>
    <li>Working with .NET Identity (Auth, Users, Roles)</li>
    <li>Building RESTful API</li>
    <li>Using Java Script, JSON, AJAX</li>
    <li>Working with Bootstrap, CSS, HTML</li>
</ul>



    

    

    

   


